@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Work Sans", sans-serif;
}

.transition {
  @apply transition-all duration-300;
}

.tall-text {
  line-height: 66px;
}

@keyframes ping {
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  75% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.1, 1) infinite;
}
